* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: white;
  text-align: center;
  font-family: "Manrope";
  height: 100vh;

      /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 0% 20%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 0% 20%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 0% 20%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 0% 20%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 0% 20%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
    
}
.container{
    padding: 5rem;
}
.title {
  font-weight: 700;
  font-size: 64px;
  line-height: 87px;
  background: linear-gradient(91.39deg, #1762a7 20.93%, #24dc20 111.31%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.countdown{
    padding-top: 2.5em;
    font-size: 32px;
    font-weight: 700;
    display:flex;
    gap:5em;
    justify-content: center;
  background: linear-gradient(91.39deg, #1762a7 20.93%, #24dc20 111.31%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.timezone-data{
  font-size: 76px;
  font-weight: 800;
  color: white; 
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}